/* odin recipes stylesheet */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Frijole', cursive;
}

body {
  font-size: 17px;
  background-color: #00004d;
  color: #ffb000;
}

a:hover {
  color: #ffb000;
}

a {
  line-height: normal;
  margin: 10px;
  color: maroon;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  border: 2px solid black;
  color: #00004d;
  padding: 20px;
  background-color: rgba(255, 176, 0, .25);
}

h2 {
  font-size: 30px;
  color: #00004d;
  padding: 15px;
  background-color: rgba(255, 176, 0, .25);
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 99%;
  padding: 15px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.h {
  border-bottom: 2px solid #ffb000;
}

img {
  border: 3px solid black;
  border-radius: 20px;         /* rounds the corners of my pictures */
  margin: 10px;
  margin-top: 20px;
}

header {
  text-align: center;
  background-image: url(../images/folk.png);
  background-size: contain;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section {
  text-align: center;
  line-height: 20px;
}

.home {
  text-align: center;
  text-decoration: underline;
}

.ingredients {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  margin: 20px 0;
}

.directions {
  text-align: left;
  padding-left: 100px;
  padding-bottom: 20px;
  padding-right: 100px;
  margin: 20px 0;
}

footer {
  font-size: 1em;
  line-height: 99%;
  text-align: center;
  background-image: url(../images/folk.png);
  color: #00004d;
  margin-top: 20px;
  padding-top: 10px;
}

.left {
  font-family: 'Frijole', cursive;
  color: maroon;
  text-align: left;
  position: fixed;      /* this code keeps my copyright thing in a fixed */
  bottom: 0;              /* position in the lower-left corner as the */
  left: 0;                   /* page is scrolled up and down */
}